.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.users__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table{
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
}
.table__head{
    background-color: rgb(195, 195, 195);
    padding: 10px;
}
.table__row{
    padding: 10px;
    border: 1px solid rgb(238, 238, 238)
}
.users__form{
    display: flex;
    align-items: center;
    width: 100%;
}
.users__form__input {
    color: #282828;
    margin-top: 15px;
    margin-right: 15px;
    display: block;
    width: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    font-size: 14px;
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
}

.users__form__button{
    display: inline-block;
    box-sizing: border-box;
    border: none;
    margin-top: 15px;
    height: 48px;
    font-size: 25px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c1c1c1;
    transition: all 0.2s ;
}
.users__form__button:hover{
    transform: scale(1.1);
}